/* import fonts */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

/* style variables */
:root {
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

/* reset styles */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Outfit";
  font-weight: 400;
  line-height: 1.5em;
  background-color: white;
}
.recipe-card {
  background-color: white;
  width: 100%;
  padding: 0 0 1em 0;
  border-radius: 0;
}

.recipe-image {
  width: 100%;
  border-radius: 0;
}

.body {
  padding: 0 1em;
}

h1 {
  font-family: "Young Serif";
  font-size: 2em;
  color: var(--Stone-900);
}

.quick-info-card {
  background-color: var(--Rose-50);
  padding: 1em 2em;
  border-radius: 0.5em;
}

.header {
  color: var(--Rose-800);
  font-weight: 600;
  font-size: 1.2em;
}

.quick-info-card li {
  line-height: 2em;
}
.quick-info-card li span:nth-child(1) {
  font-weight: 600;
  color: var(--Stone-900);
}

.title {
  font-family: "Young Serif";
  font-size: 2em;
  color: var(--Brown-800);
  font-weight: 400;
}

.hr {
  border: 0.1em var(--Stone-150) solid;
  margin-bottom: 2em;
}

.ingredients li {
  color: var(--Stone-600);
  line-height: 2em;
}

.instructions li {
  padding-inline-start: 1em;
  padding-bottom: 0.8em;
}

.instructions li :nth-child(1) {
  font-weight: 600;
  color: var(--Stone-900);
}

.instructions li :nth-child(2) {
  color: var(--Stone-600);
}

.nutrition table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

tr :nth-child(1) {
  color: var(--Stone-600);
    padding:0.2em 0 0.5em 1.5em;
}

tr :nth-child(2) {
  color: var(--Brown-800);
  padding:0 0 0.5em 1em;
}

tr {
  border-bottom: 1px var(--Stone-150) solid;
}

table :last-child {
  border: none;
}

/* media query */
@media (min-width: 375px) {
  body {
    height: 100vh;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    font-family: "Outfit";
    font-weight: 400;
    line-height: 1.5em;
    color: var(--Stone-600);
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
    align-items:flex-start;
    overflow-y: scroll;
  }

  .recipe-card {
    background-color: white;
    width: 36em;
    padding: 1.5em;
    border-radius: 1em;
  }

  .recipe-image {
    width: 100%;
    height: 20em;
    border-radius: 1.5em;
    margin-bottom: 1.2em;
  }
}
